@using Microsoft.AspNetCore.Identity

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>@ViewData["Title"]</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="~/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/lib/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="index.html">
                           <span>Bilbo's School for Hobbit Adventuring'</span>
                           
                        </a>
                    </div>
                    <li class="label">Main</li>
                    <li>
                        <a  href="\" >
                            <i class="ti-home"></i>Home 
                        </a>
                     </li>
                     <li>
                         <a asp-action="Contact" asp-controller="Home">Contact</a>
                     </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Scheduling"))
                    {
                        <li class="label">Administrator</li>
                        <li><a href="@Url.Action("Index", "Enrollments")"><i class="ti-user"></i>Enrollment</a></li>
                        <li><a href="@Url.Action("Index", "Students")"><i class="ti-calendar"></i> Student </a></li>
                        <li><a href="@Url.Action("Index", "ScheduledClasses")"><i class="ti-layout-grid2-alt"></i> Schedule Classes</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "Courses")"><i class="ti-user"></i> Courses</a></li>
                            <li><a href="@Url.Action("Index", "StudentStatus")"><i class="ti-calendar"></i>Student Status</a></li>
                        }
                        <li><a href="~/documentation/SATDocumentaion.pdf" download><i class="ti-file"></i> Documentation</a></li>
                    }
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                       
                        <div>
                            <div class="header-icon" >
                                <span class="user-avatar">
                                    <partial name="_LoginPartial" />
                                     
                                </span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        @RenderBody()
		<div class="row">
			<div class="col-lg-12">
				<div class="footer">
					<p>2018 © Admin Board. - <a href="#">example.com</a></p>
				</div>
			</div>
		</div>
    </div>
    

    <!-- jquery vendor -->
    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/js/lib/menubar/sidebar.js"></script>
    <script src="~/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- bootstrap -->

    <script src="~/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="~/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="~/js/lib/calendar-2/pignose.init.js"></script>


    <script src="~/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/js/lib/weather/weather-init.js"></script>
    <script src="~/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="~/js/lib/chartist/chartist.min.js"></script>
    <script src="~/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="~/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="~/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="~/js/dashboard2.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>
